---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=38.898748,-77.037684&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1591-1609",
                       "short_name" : "1591-1609",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pennsylvania Avenue Northwest",
                       "short_name" : "Pennsylvania Ave NW",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest Washington",
                       "short_name" : "Northwest Washington",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "D.C.",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "District of Columbia",
                       "short_name" : "DC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "20503",
                       "short_name" : "20503",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "1591-1609 Pennsylvania Avenue Northwest, Washington, DC 20503, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.8987195,
                          "lng" : -77.03740309999999
                       },
                       "southwest" : {
                          "lat" : 38.8987179,
                          "lng" : -77.0379902
                       }
                    },
                    "location" : {
                       "lat" : 38.8987331,
                       "lng" : -77.03768389999999
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.9000676802915,
                          "lng" : -77.03634766970849
                       },
                       "southwest" : {
                          "lat" : 38.8973697197085,
                          "lng" : -77.0390456302915
                       }
                    }
                 },
                 "place_id" : "EkIxNTkxLTE2MDkgUGVubnN5bHZhbmlhIEF2ZW51ZSBOb3J0aHdlc3QsIFdhc2hpbmd0b24sIERDIDIwNTAzLCBVU0E",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Northwest Washington",
                       "short_name" : "Northwest Washington",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
